{% extends 'rest_framework/api.html' %} 
{% block content %}
<body>
<div class="col-md-12" align = 'center'>
<div class='' style='width:50%;' align='center'>

  <form action="/login" method="POST"  enctype="multipart/form-data" class="well form-horizontal" style='margin-top:20px;' novalidate>
<h1>Sign into WebASR</h1>
<br>
    Welcome to WebASR - the world's first web-based fully functioning automatic speech recogniser.
    It's free and very easy to use - just upload an audio file and after a short processing period, the transcript will be available in 
    a range of formats including PDF. <br>Log in now or if you're not yet registered, <a href="register.jsp">register here</a> for free. 
<br>
<br>
<br>
<br>
    <fieldset>

    <input type='hidden' name='csrfmiddlewaretoken' value='wSN8D5j2pFr0YyuzU7wJFGkb5gck9G5j'/>    

      {% for field in form %}
        <div class="form_group">
          {{ field.errors }}
          <label class="col-sm-2 control-label ">{{ field.label_tag }}</label>
          <div class="col-sm-10">
            <input class="form-control" {{ field }} 
            <br>
          </div>
        </div>
      {% endfor %}

{{form.non_field_errors}}

    <div class="form-actions">
      
      <button class="btn btn-primary" style='width:20%;' title="Signin">Sign In</button>
                          
    </div>
                        
  </fieldset>
                    
</form>

</div>
</div>
</body>
{% endblock %}