{% extends 'rest_framework/api.html' %} 
{% block content %}
<div class="well">

	<h1>Conditions of Use - Summary</h1>
    We hope that the following conditions do not constrain your use of the webASR service. WE/US refers to the providers of the WEBASR service, the Department of Computer Science, University of Sheffield, while YOU refers to the user of the service. By registration for this service (and/or uploading data)

    <p>YOU
    <ul class="conditions">
      <li>can use the service <strong>For Research Purposes Only</strong><br>
      Should you be interested in using this service for commercial purposes, please contact US.
      <li>get <strong>Copyright of the Transcripts</strong><br>

      The transcripts belong to YOU. No one else has the rights to publish them, including US, but naturally WE retain the right to store and use them for research purposes (see below).
      <li>are the <strong>Owner of Rights for the Audio</strong><br>

      If YOU are not the holder of the copyright of the audio files PLEASE DO NOT UPLOAD THEM as we do not want to get in conflict with the copyright holders. If in doubt please contact US beforehand.
      <li>grant US <strong>Permissions to process</strong><br>

      YOU allow us to process the data fully automatically.
      <li>grant US <strong>Permission to use for research</strong><br>

      YOU allow US to use the data for research. We will never hand data to people outside of OUR institution.

      All researchers working with the data in OUR institution will have to sign a form not to use the data for anything else other than research work conducted by US. Data will be stored such that only this group will get access to the data.

      In any publication derived from research on this data WE will only publish results that GUARANTEE ANONYMITY of people and institutions. We may use demographic or gender information if they are available.
      <li>agree to <strong>Give Credit to the Service</strong> in publications<br>

      If the output of this service helped in YOUR research WE would appreciate acknowledgement of OUR contribution by referencing the work on this service. An appropriate reference can be found under the Publications section of the webASR pages. 
    </ul>

    <p>If you do not agree with the terms and conditions of this Agreement, pleaser do not complete the registration process. If you think that our rules are unsuitable please contact US !

    <h1>CONDITIONS OF USE</h1>

    <p>The webASR development team, University of Sheffield, Department of Computer Science ("webASR") provides its service ("Service") to you ('The User'), subject to the following Conditions of Use. webASR may amend the Conditions of Use at any time by posting an amended Conditions of Use on its website.
    <ol class="conditions">
      <li>Registration and Access<br>

      You must register for a membership in order to access the Service. When completing the registration form, you will provide true, accurate, and complete and up to date information. If you provide any information that is untrue, inaccurate, or incomplete, or webASR has reasonable grounds to suspect that the information is untrue, inaccurate, or incomplete, webASR has the right to suspend or terminate your membership and access to the Service.

      You may receive login name and a password upon completing the registration process. You are responsible for maintaining the confidentiality of your password and login name.

      You must not rent, lease, sub-license, sell, assign, loan, distribute, transmit, or otherwise transfer any content of the service, or your rights and obligations pursuant to the Conditions of Use.

      You must not copy, reproduce, alter, modify, create derivative works, or publicly display any content of the Service, unless expressly authorised in the Conditions of Use.
      <li>Termination<br>

      In cases of misuse or termination of the Service webASR reserves the right to terminate user accounts.
      <li>Research purposes only<br>

      The transcripts generated by the Service can be used for research purposes only. This is valid for governmental, non-profit and commercial organisations alike.
      <li>Transcript copyright<br>

      The transcripts belong to YOU. No one else has the rights to publish them, including US, but naturally we retain the right to store and use them for research purposes.
      <li>Audio data copyright<br>

      By uploading audio data files to the Service
      <ol class="compact">
         <li>The User implies his full ownership of the copyright of this data.
         <li>The User allows webASR storage, fully automatic processing of the data, and storage of intermediate and final outputs of the process.
         <li>The User allows webASR to use this data to conduct research in the area of automatic speech recognition. The User allows to publish scientific papers showing research results on this data in a form that will not allow any deduction of speaker recorded or the institution of user that uploaded the audio data file.
         <li>webASR will store the uploaded data with reasonable care for security and safety.
      </ol>
      <li>Indemnity<br>

      You will indemnify and hold webASR, and its subsidiaries, affiliates, officers, agents, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your use of the Service, your violation of the Conditions of Use, or your violation of any rights of a third party. Service Modifications webASR reserves the right at any time to modify or discontinue, temporarily or permanently, the Service or any part of it with or without notice. webASR will not be liable to you or to any third party for any modification, suspension, or discontinuance of the Service.
      <li>Disclaimer of Warranties<br>

      YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. webASR EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT RELATED TO THE SERVICE. ANY MATERIAL OR DATA UPLOADED OR DOWNLOADED OR OTHERWISE OBTAINED OR TRANSMITTED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGES OR LOSS OF DATA OR EMAIL THAT RESULTS FROM YOUR USE OF THE SERVICE. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM webASR OR THROUGH OR FROM THE SERVICE WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE CONDITIONS OF USE.

      SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, SO THE FOREGOING DISCLAIMER MAY NOT APPLY TO YOU. THIS WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS AND YOU MAY ALSO HAVE OTHER LEGAL RIGHTS THAT VARY FROM STATE TO STATE AND COUNTRY TO COUNTRY.
      <li>Limitation of Liability<br>

      webASR WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER INTANGIBLE LOSSES (EVEN IF webASR HAS BEEN ADVISED OF THE POSSIBILITY OF THESE DAMAGES), RESULTING FROM YOUR USE OF THE SERVICE. UNDER NO CIRCUMSTANCES WILL webASR'S TOTAL LIABILITY OF ALL KINDS ARISING OUT OF OR RELATED TO YOUR USE OF THE SERVICE (INCLUDING BUT NOT LIMITED TO WARRANTY CLAIMS), REGARDLESS OF THE FORUM AND REGARDLESS OF WHETHER ANY ACTION OR CLAIM IS BASED ON CONTRACT, TORT, OR OTHERWISE, EXCEED THE AMOUNT OF FEES PAID BY YOU TO webASR IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY. THIS LIMITATION OF LIABILITY WILL APPLY NOTWITHSTANDING THE FAILURE OF THE ESSENTIAL PURPOSE OF ANY LIMITED REMEDY IN THE Conditions of Use.

      SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.
    </ol>

</div>

{% endblock %}