{% extends 'rest_framework/api.html' %} 
{% block content %}

<form align='center' action="/edit_news/{{object.pk}}/" method="POST" enctype="multipart/form-data" class="form-horizontal well" novalidate>

  <fieldset>
      <h1><label class=" control-label ">Update :</label></h1>
    <input type='hidden' name='csrfmiddlewaretoken' value='wSN8D5j2pFr0YyuzU7wJFGkb5gck9G5j'/>    

      {% for field in form %}

         <div class="form_group">
          {{ field.errors }}
          
          <div class="">
            {{ field }} 
            <br>
          </div>
        </div>
      {% endfor %}


    <div class="form-actions">
      
      <button class="btn btn-primary" title="Change News">Update</button>
                          
    </div>
                        
  </fieldset>
                    
</form>
{% endblock %}