{% extends 'rest_framework/api.html' %} 
{% block content %}
<div class="well">

	<h1>Publications</h1>

    <ul>
      <li>
        S.N. Wrigley and T. Hain (2011). 
        Web-based automatic speech recognition service - webASR. <i><a target="_new" href="http://www.interspeech2011.org/">Interspeech 2011</a>, Florence, Italy, 28-31 August 2011</i>.
      </li>
      <li>
        S.N. Wrigley and T. Hain (2011). 
        Making an automatic speech recognition service freely available on the web. <i><a target="_new" href="http://www.interspeech2011.org/">Interspeech 2011</a>, Florence, Italy, 28-31 August 2011</i>.
      </li>
      <li>
       R. Tucker, D. Fry, V. Wan, S.N. Wrigley, T. Hain (2011). 
       Extending Audio Notetaker to browse webASR transcriptions. <i><a target="_new" href="http://www.interspeech2011.org/">Interspeech 2011</a>,
       Florence, Italy, 28-31 August 2011</i>.
      </li>
      <li>
         T. Hain, A. El Hannani, S.N. Wrigley and V. Wan (2008).
         Automatic speech recognition for scientific purposes - webASR. <i>Interspeech 2008, Brisbane, Australia, 22-26 September 2008</i>.
      </li>
    </ul>


	
</div>

{% endblock %}