{% extends 'rest_framework/api.html' %} 
{% block content %}

<form action="/system/{{object.pk}}/" method="POST" enctype="multipart/form-data" class="form-horizontal well" novalidate>

  <fieldset>

    <input type='hidden' name='csrfmiddlewaretoken' value='wSN8D5j2pFr0YyuzU7wJFGkb5gck9G5j'/>    

      {% for field in form %}
      {% if field.label_tag == '<label for="id_allowed_groups">Allowed groups:</label>' or field.label_tag == '<label for="id_description">Description:</label>' %}

       <div class="form_group">
          {{ field.errors }}
          <label class="col-sm-2 control-label ">{{ field.label_tag }}</label>
          <div class="col-sm-10">
            {{ field }} 
            <br>
          </div>
        </div>

      {% else %}
        <div class="form_group">
          {{ field.errors }}
          <label class="col-sm-2 control-label ">{{ field.label_tag }}</label>
          <div class="col-sm-10">
            <input class="form-control" {{ field }} 
            <br>
          </div>
        </div>
      {% endif %}
      {% endfor %}

      <div class="form_group">
          <label class="col-sm-2 control-label ">Assigned groups:</label>
          <div class="col-sm-10">
            {%for group in object.allowed_groups.all%}
            <a href="/ungroup_system/{{object.pk}}/{{group.pk}}">{{group.name}}</a>,
            {%endfor%}
            <br>
            <br>
          </div>
        </div>

    <div class="form-actions">
      
      <button class="btn btn-primary" title="Upload System to WebASR">Update</button>
                          
    </div>
                        
  </fieldset>
                    
</form>
{% endblock %}