{% extends 'rest_framework/api.html' %} 
{% block content %}

<h1 align='center' style='padding:10px;'>Audio Upload List</h1>
<p align='center'> Audio Transcripts of completed uploads are located in the Details section of the upload list.</p>
<div class='well'>
<table class="table table-hover" style='border:20px; width:100%;'>

  <thead style='border:20px;'>

    <tr style='border:20px;'>

      <td style='width:15%;'>Created</td>
      <td style='width:65%;'>Files Uploaded</td>
      <td style='width:15%;'>Status</td>
      <td style='width:10%;'>Details</td>
    </tr>

  </thead>

  <tbody>

  {% for upload, audio in uploads %}

    <tr>

      <td >{{upload.created}}</td>

      <td>
        {% for file in audio %}
          {{file}}<br>
        {% endfor %}
      </td>
      <td >{{upload.status}}</td>
      <td ><a href="/upload/{{upload.pk}}">view</a></td>
    </tr>

  {% endfor %} 

  </tbody>

</table>

</div>



{% endblock %}